
 li {

	position: relative;
	/* font-family: 'Open Sans', sans-serif; */
}

.topmenu li a:hover { color: #D5B45B; }
.submenu-link:after {

	font-family: "FontAwesome";
	color: inherit;
	/* margin-left: 10px; */
}
.submenu {
	width: 15rem ;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 5;
	width: 180px;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: 0 0;
	transition: .5s ease-in-out;
	display: flex ;
	flex-direction: column ;
	background: #1d7fc0 ;
}
/*.submenu a {*/
/*	color:#273037;*/
/*	text-align: left;*/
/*	padding: 12px 15px;*/
/*	font-size: 13px;*/

/*}*/
.submenu li:last-child a { border-bottom: none; }
 li:hover .submenu {
	opacity: 1;
	transform: scaleY(1);
}
 .asd{
	 white-space: nowrap;
	 font-size: 14px;
	 color: #ceffff !important;
	 text-decoration: none;
	 text-transform: none;
	 display: block;
	 height: 40px;
	 line-height: 40px;
	 padding: 0 25px 0 18px;

	 border-bottom: 1px solid #84bfbe;
	 border-right: 1px solid #84bfbe;
	 text-align: left;
 }
 .contactsActive{
	 color: #8dce26;
 }